@use "../setting" as setting;
@use "../global/mixin/" as mixin;
@use "../global/base/responsive" as res;

header {
    border-bottom: 1px solid setting.$black;
    @include mixin.padding-16(top);
    @include mixin.padding-16(left);
    @include mixin.padding-16(right);
    @include mixin.padding-8(bottom);
    background-color: setting.$white;
    z-index: 10;
    height: 15%;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    @include res.res("sp") {
        height: 60px;
        position: fixed;
    }
    a {
        height: 100%;
    }
    img {
        //width: 500px;
        height: 100%;
        left: 0;
        @include res.res("sp") {
            width: 200px;
        }
    }
}
