<%- include('../commons/head', {title:'Dream',}) %>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    </head>

    <body>
        <header class="dream">
            <div class="header-inner">
                <div class="in-header logo">
                    DREAM
                </div>
                <div class="in-header menu-wrapper">
                    <div class="menu is-left">MENU</div>
                    <div class="menu is-left">MENU</div>
                    <div class="menu is-left">MENU</div>
                    <div class="menu is-left">MENU</div>
                    <img class="menu hamburger" src="images/icon_menu_white_24dp.svg" alt="" srcset="">

                </div>
            </div>
        </header>

        <main class="dream">
            <div class="slider-wrapper">
                <div class="swiper">
                    <!-- 必要に応じたwrapper -->
                    <div class="swiper-wrapper">
                        <!-- スライド -->
                        <div class="swiper-slide">Slide 1</div>
                        <div class="swiper-slide">Slide 2</div>
                        <div class="swiper-slide">Slide 3</div>
                        <div class="swiper-slide">Slide 4</div>
                    </div>
                </div>
                <!-- 必要に応じてナビボタン -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <!-- 必要に応じてページネーション -->
            <div class="swiper-pagination"></div>

            </div>

        </main>

        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        <script src="javascripts/swiper.js" type="module"></script>
        <%- include('../commons/end'); %>