@use "../setting" as setting;
@use "../global/mixin/" as mixin;
@use "../global/faundation/responsive" as res;

#splash {
    /*fixedで全面に固定*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: setting.$white;
    text-align: center;
    color: setting.$black;

    #splash_text {
        color: setting.$black;
    }
}
