html {
    height: 100%;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    padding-top: 120px;
    padding-left: 80px;
    padding-right: 80px;
}

a {
    text-decoration: none;
    cursor: pointer;
}
