<%- include('commons/head', {title:'top',}) %>
</head>
<body class="index">
  <h1>indexPage</h1>
  <section>
    <a href="/dre" class="page-name">dream</a>
  </section>
</body>

<%- include('commons/end'); %>
