//本文のフォント
$font-text: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;

//タイトル英文フォント
$font-engtitle: Avenir, 'Helvetica neue', Helvetica, "游ゴシック体", YuGothic, "游ゴシック",sans-serif;

//タイトル日本語フォント
$font-jptitle: $font-text;